/*  *****  ELEMENT STYLES */

body {
    font-family:'Raleway', sans-serif;
    color: #221505;
    background-color: #FBF9EC;
}

header {
    background-color: #A7D2CB;
    background-image: linear-gradient(45deg, #b2d8d2 0%,#A7D2CB 100%);
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid #F2D338;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #C98573;
    color: #221505;
    text-align: center;
  }

main {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    overflow: auto;
}

h1, h2 {
    font-family: 'The Girl Next Door', cursive;
    text-align: center;
    color: #221505;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.8em;
    font-weight:bold;
}

h3 {
    font-family:'Raleway', sans-serif;
    font-size: 1em;
    margin: 5px 0 10px;
    text-align: center;
}

h4 {
    font-family: 'The Girl Next Door', cursive;
    font-size: 1em;
    padding: 5px 20px;
    font-weight: bold;
    padding: 5px 0;
    text-align:center;
}

h5 {
    font-size: .8em;
    padding: 5px 0;
}

p {
    font-size: 1em;
    padding: 3px 0;
}

label {
    display:block;
    margin:6px;
}

ol, ul {
    list-style-type:square;
}

input, textarea {
    display:block;
    border: none;
    padding:5px;
    margin:0 auto;
    border-radius:3px;
}

/* button styles */
button {
    text-align: center;
    cursor:pointer;
    border: 1px solid #874C62;
    background-image: linear-gradient(45deg, #deb5ab 0%,#d9aa9f 100%);
    margin:2px;
    padding:2px;
    border-radius:3px;
    display:inline-block; 
}

button:hover {
    background-color: #874C62;
}

.small-btn {
    width:60px;
}

.med-btn {
    width:120px;
    padding: 3px;
}

.lg-btn {
    width:150px;
    padding: 3px;
}
 

/*  ***** SECTION styles:  there are four sections:  nav, login, options, closet */

.section {
    max-width:900px;
    text-align:center;
    margin:0 auto;
}

.options-container,
.section-login {
    max-width:450px;
    margin:0 auto;

}

.section-login {
    padding-top:30px;
}

/*  *****  HEADER and LOGO styles */

.title-verbage {
    text-align: center;
}

.header-items {
    display:inline-block;
}
#header-title {

    max-height: 75px;
    padding:10px 20px 10px 20px;
}

#header-title:hover {
    cursor:pointer;
}

#logo-img {
    display:inline-block;
}

#hanger-img {
    height:60px;
}

#logo-verbage {
    font-family: 'The Girl Next Door', cursive;
    font-size: 24px;
    display:inline-block;
    vertical-align: top;
    margin-top:20px;
    padding-left:3px;
    color:white;
}

.item-body {
    text-align:left;
    padding:2px;
    width: 85%;
    display:inline-block;
    font-size:0;
}


/* *****  REGISTRATION and LOGIN styles */

.reg-container {
    padding-top:20px;
}

#reg-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#btn-sign-me-up {
    margin-top: 15px;
}

.radiogroup {
    display:inline-block;
    text-align:center;
}

.nav-loggedin, 
.nav-menu, 
.nav-admin,
.nav-logout {
    overflow:hidden;
    padding-bottom: 5px;
    padding-top:5px;
    text-align:center;
}


#login-field-container {
    padding:10px 0 10px 0;
}

#signup-verbage, #signup-btn {
    display:inline-block;
    padding:5px;
    margin:20px 0 25px 0;
}

#signup-btn {
    font-weight: 800;
}

.reg-login {
    padding-bottom: 20px;
}

.demo-item {
    font-size: .8rem;
}

.reg-item > p {
    font-size: 1.1rem;
}
.reg-item, .login-item {
    text-align:left;
    margin-top:10px;
}

.reglabel {
    width: 200px;
    text-align:left;
}


.reg-input{
    width:100%;
    display:inline-block;
}

  
.password-icon, .password-confirm-icon {
    padding: 5px;
    color: gray;
    background-color: #FBF9EC;
    min-width: 25px;
    text-align: center;
    border-top: 1px solid #E0D5C9;
    border-right: 1px solid #E0D5C9;
    border-bottom: 1px solid #E0D5C9;
}

.user-icon {
    padding:5px;
    background-color:#874D62;
    color: #FBF9EC;
    border-top: 1px solid #E0D5C9;
    border-left: 1px solid #E0D5C9;
    border-bottom: 1px solid #E0D5C9;
    width:10%;
    border-radius: 3px 0 0 3px;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: #FBF9EC;
}
#GET-username,
#GET-password {
    border:none;
    width:88%;
    display:inline-block;
}

.input-container {
    border: 1px solid #E0D5C9;
    border-radius:3px;
    background:#E0D5C9;
}

.form-reg-login {
    /*border: 1px black solid;*/
    margin:0 auto;
    text-align: center;
    padding-left:5px;
    padding-right:5px;
    /*max-width:75%;*/

}


/*   *****  navigation menu and option page styles:   */

.options-btns {
    text-align:center;
    padding-top: 10px;
    padding-bottom: 5px;
    display:inline-block;
    padding: 10px 15px 10px 15px;
}

.options-btns-container {
    margin-bottom: 25px;
}

.options-btns-min {
    display:inline-block;
    font-size: .8em;
    padding: 5px;
    text-align:center;
}

.options-btns-min:hover {
    cursor:pointer
}

#ideal-closet-btn-min,
#my-closet-btn-min, 
#share-closet-btn-min,
#donation-closet-btn-min {
    border-right: 1px solid #EBEBEB;
    padding-left:5px;
    padding-right:5px;
}

#header-logout, #header-loginagain {
    padding-left: 22px;
    border-left:1px solid #EBEBEB;
    display: inline-block;
}

#header-logout {
    float:right;
    padding-right:15px;
}

#header-greeting {
    float:left;
    padding-left:5px;
}

#header-logout:hover, #header-loginagain:hover {
    cursor:pointer;
}

.select-season-icon {
    height: 40px;
}

.fa-door-open, .fa-tshirt, .fa-atom {
	margin-bottom: .5rem;
	padding: .7rem;
	font-size: 2rem;
	border-radius: 50%;
}


.fa-door-open {
    color: #C98573;
    border: 1px solid #C98573;
}

.fa-tshirt {
    color:#F2D387;
    border: 1px solid #F2D387;  
}

.fa-asterisk {
    color:red;
    font-size:.5rem;  
    padding-left:3px;
    vertical-align:top;
}

.reg-label {
    display:inline-block;
}


/**  *****   CLOSET STYLES:  closets are the elements that change with the data. */

.closet-container {
    text-align:center;
}

.season-container{
    margin-bottom: 10px;
}

.title-icon {
    display: inline-block;
    margin-right: 10px;
}

.cl-title {
    display:inline-block;
}

.cl-subhead {
    text-align:center;
    display:inline-block;
    border: 1px solid #874C62;
    background-image: linear-gradient(45deg, #deb5ab 0%,#d9aa9f 100%);
    padding:3px 20px 3px 20px;
    border-radius: 5px;
    width:100%;
    margin: 0 auto;
    
}

.cl-subhead1 {
    text-align:center;
    display:inline-block;
}

.cl-subhead2 {
    text-align:left;
    font-size:.8rem;
    max-width:450px;
    padding: 10px 20px 10px 20px;
    margin:0 auto;
}

.item#closet-title {
    display:block;
    margin-bottom:20px;
}

.cl-header {
    text-align:center;
}

.closet-item {
    text-align:center;
    border-radius: 3px;
    padding: 0 0 5px 0;
    margin: 5px 0 0 0;
    border-bottom:1px solid #F2D387;
    font-size:12px;
}

.cl-resultcell-display {
    height: 12em;
}

.itemrow {
    width:100%;
    border: 1px solid  #C98573;
    text-align:left;
    border-radius: 3px;
    padding: 3px;
    margin: 5px 0 0 0;
}

.cl-username,
.cl-useremail {
    font-size: .8rem;
    color: #874C62;
}

.updatefields {
    width: 100%;
    background-color:white;
}

.more-details {
    padding-top: 5px 0 5px 0;
}


.viewitem-label {
    width:85%;
    text-align:left;
    margin: 0 auto;
    text-align:left;
    background-color: #ECECEB;
    padding: 5px 8px;
}

.viewitem-body {
    width:85%;
    text-align:left;
    margin: 0 auto;
    text-align:left;
    padding: 5px 8px;
}

#view-label-shortdesc {
    border-top:1px solid #874C62;
    border-left:1px solid #874C62;
    border-right:1px solid #874C62;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    margin-top:10px;
}

#view-longdesc {
    border-top:1px solid #874C62;
    border-left:1px solid #874C62;
    border-right:1px solid #874C62;
    border-bottom:1px solid #874C62;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom:8px;
}

#view-label-longdesc,
#view-shortdesc {
    border-top:1px solid #874C62;
    border-left:1px solid #874C62;
    border-right:1px solid #874C62;
}

#view-shortdesc {
    border-bottom:1px solid #874C62;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 8px;
}
#view-label-longdesc {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.update-season > .itembody,
.update-appareltype > .itembody {
    width:50%;
}

#cl-add-btn {
    text-align:right;
    display:inline-block;
}


/* *****  EDIT FORMS styles:  There are 2 specialized update forms in the closets, Add New (item to closet) and Update (item in closet) */

.additem-edit-btns {
    text-align:right;
}

#additem-save-btn,
#additem-cancel-btn {
    display:inline-block;
}
.cl-resultbody {
    display:inline-block;
    width:100%;
}

.cl-savebtn, .cl-cancelbtn {
    display:inline-block;
}


.form-elements {
	margin:0 auto;
	padding: 5px;
	max-width: 100%;
	display:flex; 
	flex-direction: row; 
	align-items: center;
}



/* *****  ANALYSIS SCREEN STYLES */

.analyze-body {
    padding:8px;
    margin:8px;
    margin:0 auto;
}


.an-section-header,
.an-section-body {
    font-size:0;
    text-align:center;
}

.an-section-header {
    margin-top: 3px;
}

.an-subsection-whole,
.an-subsection-se,
.an-subsection-at {
    display:inline-block;
    width:32%;
    padding:3px;
}

.an-subsection-whole {
    vertical-align:top;
}
.an-items,
.cl-items {
    display:inline-block;
    background-color: #FBF9EC;
    font-size:.8rem;
    vertical-align:top;
}

.an-items {
    height: 3rem;
}

.cl-items {
    height: 1.6rem;
}

.an-items-label {
    display:inline-block;
    font-size:.8rem;
    background-color: #ECECEB;
    font-weight: bold;
}

.an-items-label-short {
    width:13%
}

.an-items-body-short {
    width:13%;
}

.an-items-label-med {
    width:22%;
}

.an-items-label-med-plus {
    width:30%;
}

.an-items-body-med {
    width:22%;
    text-align:center;
}

.an-items-body-med-plus {
    width:30%;
    text-align:center;
}

.an-items-label-long {
    width:50%
}

.an-items-body-long {
    width:50%;
    text-align: left;
    padding-left:3px;
    overflow:auto;
}

.an-items-label-left {
    border-top:1px solid #874C62;
    border-left:1px solid #874C62;
    border-right:1px solid #874C62;
    border-bottom:1px solid #874C62;
}

.an-items-label-middle {
    border-top:1px solid #874C62;
    border-bottom:1px solid #874C62;
    border-right:1px solid #874C62;
}

.an-items-label-right {
    border-top:1px solid #874C62;
    border-right:1px solid #874C62;
    border-bottom:1px solid #874C62;
}

.itembody-left {
    border-left:1px solid #874C62;
    border-right:1px solid #874C62;
    border-bottom:1px solid #874C62;
    display:inline-block;
}

.itembody-middle {
    border-right:1px solid #874C62;
    border-bottom:1px solid #874C62;
    display:inline-block;
    
}

.itembody-right {
    border-right:1px solid #874C62;
    border-bottom:1px solid #874C62;
    display:inline-block;
}

.an-items-short {
    text-align:center;
}

.final-thought-correct {
    color:red;
}




/** **** USER COMMUNICATION STYLES:  error messages and user instructions */

/*  one line user information messages */
.user-msg { 
    display:inline-block;
    color: #EC130E;
    margin-bottom: 10px 0 15px 0;
    padding:7px 0 7px 0;
    font-size: .8em;
    text-align:center;
}

.user-info-icon {
    display:inline-block;
    padding-right: .3rem;
    font-size: 1.2rem;
}

.user-info-verbage {
    display: inline-block;
    width: 75%;
    text-align: left;
}

.fa-exclamation-circle {
    color:red;
    padding-right:2px;
}

/* one line error messages */
.error-format {
    display:inline-block;
    color: #EC130E;
    margin-bottom: 15px;
    padding:7px 0 7px 0;
    font-size: .8em;
    text-align:left
}

#error-icon {
    width: 10%;
    vertical-align:top;
}

#error-verbage {
    width:85%;
}

/* user instructions: icon plus a little larger type */

.instruction-list {
    margin: 10px 5px 0 55px;
    text-align:left;
}

.user-instruction {
    border: 1px solid #F2D338;
    border-radius: 3px;
    padding: 6px 3px 0;
    margin: 10px 0 5px 0;
}

.instruction-items {
    margin: 5px 0 5px 3px;
}

.instruction-icon {
    font-size:.5rem;
    display:inline-block;
}

.instruction-verbage {
    display:inline-block;
    font-size: 1.2rem;
    text-align:center;
    padding:10px;
}

.mini-instruction-verbage {
    font-size: .7rem;
    text-align:left;

}

.first-page {
    color:red;
    text-align:center;
    padding:10px;
}


#correct-icon {
    vertical-align:top;
    font-size:.7rem;
    display:inline-block;
}

.highlight {
    padding-right: 4px;
    color: #A7D2CB;
    font-size: 1.2em;
    border: 1px solid #A7D2CB;
    border-radius: 50%;
    padding:4px;
    margin-right: 4px;
}

.correct-verbage {
    width: 75%;
    text-align:left;
    display:inline-block;
}

.comments {
    font-size: .8rem;
    text-align:left;
    padding:0 1.4rem .6rem 1.4rem;
    font-family:'Raleway', sans-serif;
}

.info-msg {
    padding:15px 7px;
}

.error-field {
    background-color: #EBEBEB;
}

.fa-exclamation {
    margin-bottom: .5rem;
	font-size: .8rem;
    color: red;
    margin-right: 5px;

}

.fa-thumbs-up {
    margin-bottom: .5rem;
	padding: .6rem;
	font-size: 1.2rem;
    border-radius: 50%;
    color: red;
    border: 1px solid red;

}

.fa-atom {
    color: #A8D2CB;
    border: 1px solid #A8D2CB;
}


.fa-trash-alt, .fa-edit, .fa-save, .fa-undo {
	margin: 1px;
	padding: 5px;
	font-size: 24px;
    border-radius: 50%;
    border: 1px solid #874D62;
    color: #874D62;
}


.fa-plus {
	padding: .8rem;
    font-size: 20px;
    border: 1px solid #874D62;
    border-radius: 50%;
    color: #874D62;
}


.addnewitem-container {
    max-width:500px;
    margin:0 auto;
}

#always-in-season,
#other-seasons,
#analysis-season {
    display:inline-block;
    width:45%;
    margin:3px;
}

#always-in-season {
    vertical-align:top;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {

    .section {
        max-width:500px;
        text-align:center;
        margin-left:5px;
        margin-right:5px;
        margin: 0 auto;
    }

    .an-subsection-whole, .an-subsection-se, .an-subsection-at {
        display: block;
        width: 100%;
    }

    #always-in-season, #other-seasons, #analysis-season {
        display: block;
        width: 100%;


}
    
    
    

    
