* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    /*  CHROME  */
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}

/***  GENERAL STYLES ***/
html, body {                       
    height: 100%;
    background-color:#D9DDD9;
    color: #002F32;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
	display: flex;
	flex-direction: column;
}

header {
    padding-top: 25px;
}

h2 {
    text-align: center;
}

.form-reg-login {
    border: 1px black solid;
    margin:0 auto;
    text-align: center;
    max-width:75%;

}

.form-elements {
	/*border: 1px solid green;*/
	margin:0 auto;
	padding: 5px;
	max-width: 100%;
	display:flex; 
	flex-direction: row; 
	align-items: center;
}

.error-msg {
    color: #EC130E;
    font-size: 0.8em;
}

.error-field {
    border: 1.5px solid #EC130E;
}