* {                                            
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* FLEXBOX SETTINGS */
html, body {                       
    height: 100%;
}

p {
    font-size: 12px;
}

.row {
    display:flex;
    flex-direction: row;
}
.column {
    flex:50%;
    padding:10px;
}

.mycloset {
    background-color: #AABEEE;
    color: #322E3D; 
}

.mycl-resultcell {
    display:flex;
    flex-direction: row;
    margin-bottom: 8px;
}
.mycl-resultbody {
    flex: 2 0 0;
    font-size: 11px;
}

.mycl-resultcell {
    border: 1px solid black;
}

.itemrow {
    width:100%;
    display: flex;
    flex-direction: row;
    border: 1px solid orange;
}

.item {
    border: 1px solid red;
}

.itemlabel {
    width: 100px;
}

.itembody {
    width: 200px;
}

.mycl-editbuttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1 0 0;
}


.idealcloset {
    background-color: #7E93CE;
    color: #322E3D; 

}


